header {
  position: relative;
  height: 100vh;
  background: center/cover fixed url(../img/bg-slider-06.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white1;
  text-shadow: 0px 0px 4px black;

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .name {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      font-family: $font1;
      font-size: 2rem;
      color: $white1;
    }

    .navbar {
      display: flex;
      justify-content: space-evenly;
      font-family: $font3;
      text-transform: uppercase;
      font-size: 0.7rem;

      @media screen and (max-width: 900px) {
        display: none;
      }

      li {
        position: relative;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        color: $white1;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          width: 100%;
          background: $brown1;
          transform: scale(0);
          transition: 0.4s;
        }

        &:hover {
          color: $brown1;
          transform: scale(1.2);

          &::after {
            transform: scale(1);
          }
        }
      }
    }
    .socials {
      display: flex;
      gap: 20px;
      padding-left: 30px;
      font-size: 0.8rem;

      li {
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.3);
          color: $brown1;
        }

        i {
          color: $white1;
        }
      }
    }
  }
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    h1 {
      font-family: $font1;
      font-size: 3rem;
      line-height: 40px;
      color: $brown1;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

      span {
        font-family: $font2;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: $white1;
      }
    }

    img {
      width: 40px;
      margin: 0 auto;
    }

    p {
      font-family: $font2;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 8px;
      color: $white1;

      @media screen and (max-width: 768px) {
        font-size: 0.6rem;
      }
    }
  }
}
